table
{
	text-align:center;
	border:1px solid grey;
	margin-left:400px;
	margin-top:250px;
	border-color:black;
	border-width:3px;
	background-color:#8000ff;
}
body
{
	background-color:#ff4000;
}
#white
{
	color:white;
}
td
{
	font-weight:bold;
	color:black;
}
th
{
	color:black;
	font-weight:bold;
}