table
{
	text-align:center;
	border:1px solid grey;
	margin-left:300px;
	margin-top:125px;
	border-color:pink;
	border-width:3px;
	background-color:#ffff00;
}
body
{
	background-color:red;
}
#white
{
	color:blue;
}
td
{
	font-weight:bold;
}