table
{
	text-align:center;
	border:1px solid grey;
	margin-left:300px;
	margin-top:200px;
	border-color:black;
	border-width:3px;
	background-image:url(lightyellow.jpg);
}
body
{
	background-image:url(yellow.jpg);
}
#white
{
	color:blue;
}
td
{
	font-weight:bold;
	color:white;
}
th
{
	color:white;
	font-weight:bold;
}