#jumbotron
{
	margin-top:20px;
}
#special
{
	text-align:center;
	font-weight:bold;
	text-decoration:underline;
}
#special1
{
	background-color:#ffccff;

}
#special2
{
	background-color:#ff9999;
}
#special3
{
	background-color:#66ccff;
}
#special4
{
	background-color:#ff9900;
}
#special5
{
	background-color:#33cc33;
}

#special7
{
color:white;

}
#special9
{
	background-color:#9900ff;
	
}
#special10
{
	background-color:#ff00ff;
}
#special8
{
	background-color:grey;
}
